<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>About Us- What We Do | Storads</title>
</head>
<body>
    <p>Creativity in Designing.</p>
    <p>Looking for where to get a well customized letterhead in a jiffy? OR</p>
    <p>Searching for a graphics designer to help with your letterhead creation?</p>
    <p>Take that big step and try <i>Storads</i></p>
    <p>Get a Customized Letterhead Instantly by just putting in your details.</p> 
</body>
</html>